body {
    background-color: white;
    
}

.stressful {
    background-color: darkRed;
}


    
    

    
    
    
    
    
   
    
    



.date_div {
    font-size: 30px;
    letter-spacing: normal;
    
    

}

.runningClassStyle {
    border: solid 10px;
    border-radius: 25px;
    font-size: 20px;
    border: 0;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    display: none;
}


.nextClassStyle {
    border: solid 10px;
    border-radius: 25px;
    font-size: 20px;
    border: 0;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    display: none;
}






table {
    border-collapse: collapse;
    
    
    
    
}


td:hover {
    background-color: #cbd1cd;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.days {
    
    
    background-color: whitesmoke;
    color: black;
    
    
}



.name, .time {
    font-family: 'Roboto', ;
}

#highlight {
    color: rgb(255, 255, 255);
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.si {
    background-color: #e6e6fa;
    border: solid 3px;
    border-color: limegreen;
    font-family: 'Roboto', ;
}


.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}