body {
    background-color: white;
    font-size: 20px;
}
html,body{
    height: 100%;
    width: 100%;
}
.clock_header{
    position: fixed;
    width: 100%;
    z-index: 111;
    top:0;
    left: 0;
}
.my_routine{
    height: 100%;
    width: 100%;
    margin-top:100px;
}
.card{
    margin: 10px 0px;
}
.btn-group-vertical{
    width: 100%;
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-group-vertical button{
    margin: 10px;
    padding: 30px;
}

.stressful {
    background-color: darkRed;
}

.clock {
    position: static;
    top: 0;
    background-color: #f1c40f;
    width: 100%;
    text-align: center;
    box-shadow: 0px 2px #f39c12;
    right: 0%;
    display: block;
    transform: auto;
    color: black;
    font-size: 50px;
    font-family: Orbitron;
    letter-spacing: 7px;
    border-radius: 25px;
}

.date_div {
    font-size: 20px;
}

.runningClassStyle {
    border: solid 10px;
    border-radius: 25px;
    font-size: 20px;
    border: 0;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

h1 {
    border: solid 10px;
    border-radius: 25px;
    border: 0;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    background-image: linear-gradient(#22c1c3, lightgreen);
    -webkit-box-shadow: 17px -2px 46px 23px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 17px -2px 46px 23px rgba(0, 0, 0, 0.21);
    box-shadow: 17px -2px 46px 23px rgba(0, 0, 0, 0.14);
}
table {
    border-collapse: collapse;
    border-color: black;
    border: solid;
    margin: 0px auto;
    margin-top: 50px;
}

th, td {
    padding: 8px;
    border: 1px solid green;
    text-align: left;
    border-bottom: 1px solid green;
    border-color: green 3px;
}

th {
    border: solid 3px;
    border-color: green;
}

td:hover {
   background-color: #FF3CAC;
   color:black;
   outline: 3px dashed #fff;
    outline-offset: -6px;
    transition: outline-offset .2s ease-in-out;

   background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);


}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.days {
    border: solid 3px;
    border-color: gray;
    background-color: whitesmoke;
    color: black;
    font-family: 'Roboto', ;
}

.lecture {
    background-color: #d4fbce;
    color: black;
    border: solid 1px;
    border-color: dimgray;
    font-family: 'Roboto', ;
}

.lab {
    background-color: #d4fbce;
    color: black;
    border: solid 1px;
    border-color: dimgray;
    font-family: 'Roboto', ;
}

caption {
    display: table-caption;
    text-align: center;
    font-size: 20px;
    color: black;
    padding: 2px 0px;
}

.name, .time {
    font-family: 'Roboto', ;
}

#highlight {
    color: rgb(255, 255, 255);
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.si {
    background-color: #e6e6fa;
    border: solid 3px;
    border-color: limegreen;
    font-family: 'Roboto', ;
}