
.Wrapper{
    margin: 20px 0px;
   
}

#videothumbnail{
    height: 50%;
    width: 50%;
    float: center;}

.full-table-area{
    font-size: 12px;
}
.stressful {
    background-color: darkRed;
}

.clock {
    position: static;
    top: 0;
    background-color: #f1c40f;
    width: 100%;
    text-align: center;
    box-shadow: 0px 2px #f39c12;
    right: 0%;
    display: block;
    transform: auto;
    color: black;
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 7px;
    border-radius: 25px;


    animation:  bounceIn 2s ease-in-out 3s;
}

.date_div {
    font-size: 20px;
    letter-spacing: normal;
    
    

}

.days th h5{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 15px;
}




.d6, .d0, .d1, .d2, .d3, .d4{
    font-family: 'Josefin Sans', sans-serif;
    width: 167px;
    text-align: center;
}
.t1 h5{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    width: 96px;
    text-align: center;
}
.runningClassStyle {
  border-radius: 7px;
    font-size: 16px;
    border: 0;
    padding: 10px;
    text-align: center;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    
}

.headding h1 {

     font-weight: 700;
    font-size: 29px;
    text-transform: capitalize;
    font-family: 'Josefin Sans', sans-serif;
   
    
    padding: 5px;
    text-align: center;
   
    background-image: linear-gradient(#22c1c3, lightgreen);
    -webkit-box-shadow: 17px -2px 46px 23px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 17px -2px 46px 23px rgba(0, 0, 0, 0.21);
    box-shadow: 17px -2px 46px 23px rgba(0, 0, 0, 0.14);
}

table {
    border-collapse: collapse;
    border-color: black;
    border: solid;
    margin: 0px auto;
    margin-top: 50px;
}

th, td {
    padding: 8px;
    border: 1px solid green;
    text-align: left;
    border-bottom: 1px solid green;
   
}

th {
    border: solid 3px;
    border-color: green;
}

td:hover {
    background-color: #cbd1cd;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.days {
    border: solid 3px;
    border-color: gray;
    background-color: whitesmoke;
    color: black;
   font-family: 'Josefin Sans', sans-serif;
}

.lecture {
    background-color: #d4fbce;
    color: black;
    border: solid 1px;
    border-color: dimgray;
   font-family: 'Josefin Sans', sans-serif;
}

.lab {
    background-color: #d4fbce;
    color: black;
    border: solid 1px;
    border-color: dimgray;
    font-family: 'Josefin Sans', sans-serif;
}

caption {
    display: table-caption;
    text-align: center;
    font-size: 20px;
    color: black;
    padding: 2px 0px;
}

.name, .time {
    font-family: 'Josefin Sans', sans-serif;
}

#highlight {
    color: rgb(255, 255, 255);
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.si {
    background-color: #e6e6fa;
    border: solid 3px;
    border-color: limegreen;
    font-family: 'Josefin Sans', sans-serif;
}


.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}