
body {
    background-color:white;
    font-size: 20px;
}

.stressful{
    background-color:darkRed;
    
}

.clock {
    position: fixed;
    top:0;
    background-color:#f1c40f;
    width: 100%;
    text-align: center;
    box-shadow: 0px 2px #f39c12;
    left: 50%;
    display: block;
    transform: translateX(-50%);
    color:black;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
   


}
caption h1{
    border: solid 10px ;
    border-radius: 25px;
    border: 0px solid #00b041;
    padding:5px;
    text-transform: uppercase;
    background-image: linear-gradient(#22c1c3, lightgreen);
    
    -webkit-box-shadow: 17px -2px 46px 23px rgba(0,0,0,0.21);
    -moz-box-shadow: 17px -2px 46px 23px rgba(0,0,0,0.21);
    box-shadow: 17px -2px 46px 23px rgba(0,0,0,0.14);
}


table{
    border-collapse: collapse;
    border-color: black;
    border: solid ;
    margin: 0px auto;
    margin-top: 50px;
}

th, td {
  padding: 8px;
  border: 1px solid green;
  text-align: left;
  border-bottom: 1px solid green;
  border-color: green 3px ;
}

th {
    border:solid 3px;
    border-color:green; 
}



tr:hover {background-color:#cbd1cd;}

img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.days {
    border:solid 3px;
    border-color:gray;
    background-color: whitesmoke;
    color:black;
    font-family: 'Roboto',;
}


.lecture {
    background-color:#d4fbce;
    color:black;
    border:solid 1px;
    border-color:dimgray;
    font-family: 'Roboto',;
}

caption {
    display: table-caption;
    text-align: center;
    font-size:20px;
    color:black;
    padding: 2px 0px;
}


.name, .time {
    font-family: 'Roboto', ;
}

#highlight {
    background-color:#0d0;
    border: dotted 3px dotted;
    border-color:red;
}

.si {
    background-color:#e6e6fa;   
    border:solid 3px;
    border-color:limegreen;
    font-family: 'Roboto',;
}
}
